*{
    padding:0;
    margin:0;
}

body{
    font-family: 'MICEMyungjo';
    height: 100%;
    display: grid;
    grid-template-columns: 250px auto 250px;
    grid-template-rows: 210px auto 84px;
    grid-template-areas:
    "header header header"
    "aside1 update aside2"
    "footer footer footer"
;
}

h1{
    text-align:center;
}

#aside1{
    grid-area: aside1;
    border-right: solid 1px navy;
    background: lightcyan;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#aside1 a{
    margin-top: 30px;
}
#aside2{
    grid-area:aside2;
    border-left: solid 1px navy;
    background: lightcyan;
}

#userInfo{
    font-weight:bold;
    grid-area: update;
    padding-top: 80px;
    margin: 0 auto;
}

input{
    width: 300px;
    height: 50px;
    margin-top:10px;
}

#update{
    margin-top : 20px;
    margin-bottom : 30px;
}

#top{
    grid-area: header;
}
footer{
    grid-area: footer;

}